@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

@keyframes spinner {
  to {transform: rotate(360deg);}
}

.loading-spinner {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top-color: white;
  animation: spinner 0.6s linear infinite;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f9f9f9;
}
a {
  color: inherit; /* inherit from parent text color */
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* From Uiverse.io by adamgiebl */ 
.cssbuttons-io-button {
  background: #0f172a;
  color: white;
  font-family: inherit;
  padding: 0.35em;
  padding-left: 1.2em;
  font-size: 17px;
  font-weight: 500;
  border-radius: 0.9em;
  border: none;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  box-shadow: inset 0 0 1.6em -0.6em #0f172a;
  overflow: hidden;
  position: relative;
  height: 2.8em;
  padding-right: 3.3em;
  cursor: pointer;
}

.cssbuttons-io-button .icon {
  background: white;
  margin-left: 1em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.2em;
  width: 2.2em;
  border-radius: 0.7em;
  box-shadow: 0.1em 0.1em 0.6em 0.2em #0f172a;
  right: 0.3em;
  transition: all 0.3s;
}

.cssbuttons-io-button:hover .icon {
  width: calc(100% - 0.6em);
}

.cssbuttons-io-button .icon svg {
  width: 1.1em;
  transition: transform 0.3s;
  color: #0f172a;
}

.cssbuttons-io-button:hover .icon svg {
  transform: translateX(0.1em);
}

.cssbuttons-io-button:active .icon {
  transform: scale(0.95);
}
.cssbuttons-io-button-left {
  background: #0f172a;
  color: white;
  font-family: inherit;
  padding: 0.35em;
  padding-right: 1.2em;
  font-size: 17px;
  font-weight: 500;
  border-radius: 0.9em;
  border: none;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  box-shadow: inset 0 0 1.6em -0.6em #0f172a;
  overflow: hidden;
  position: relative;
  height: 2.8em;
  padding-left: 3.3em;
  cursor: pointer;
}

.cssbuttons-io-button-left .icon {
  background: white;
  position: absolute;
  left: 0.3em; /* anchored on left */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.2em;
  width: 2.2em;
  border-radius: 0.7em;
  box-shadow: 0.1em 0.1em 0.6em 0.2em #0f172a;
  transition: all 0.3s;
}

.cssbuttons-io-button-left:hover .icon {
  width: calc(100% - 0.6em); /* expands rightward */
}

.cssbuttons-io-button-left .icon svg {
  width: 1.1em;
  transition: transform 0.3s;
  color: #0f172a;
}

.cssbuttons-io-button-left:hover .icon svg {
  transform: translateX(-0.1em); /* slide slightly left */
}

.cssbuttons-io-button-left:active .icon {
  transform: scale(0.95);
}
